.profile-marked-link.active {
    background-color: #F5F5F5;
}

.profile-marked-link {
    position: relative;
}

.profile-marked-link.active:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 100px;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F81539;
}