@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /*transition: all 0.5s ease-in-out;*/
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .red-line {
        @apply relative;
    }

    .red-line::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 10px;
        background-color: #f81539;
        left: -10px;
        bottom: 45%;
        border-radius: 100px;
        transform: translateY(50%);
    }
}